<div class="overflow-auto">
  <div class="m-3 flex flex-col gap-4 !mx-6">
    <div class="flex gap-3 w-full flex-col">
      <div class="text-xs text-muted items-center flex gap-1 ml-6 flex-row">
        <div class="gap-1 items-center flex hover:cursor-pointer font-sans" [routerLink]="['/']" routerLinkActive="router-link-active" ><span nz-icon [nzType]="'home'" nzTheme="outline" class=" font-bold"></span> Dashboard</div>
        <div>/</div>
        <div class="gap-1 items-center flex hover:cursor-pointer font-sans"> {{subjectName}}</div>
      </div>
      <div class="items-center gap-3 flex w-full ml-6">
        <span nz-icon [nzType]="'solution'" nzTheme="outline" class=" font-bold text-xl"></span>
        <span class="text-xl font-bold font-sans">{{subjectName}}</span>
      </div>
    </div>
    <div class="flex flex-row w-full">
      <div class="w-full  bg-white rounded-md border shadow-md calculateHeight">
        <!-- Tabs -->
        <div class="flex flex-row gap-1 text-base font-sans border-b-2 border-gray-200 p-2">
          <div *ngFor="let tab of tabs">
            <div class="p-2 !pb-0 text-black  font-sans font-semibold hover:cursor-pointer border-b-2 border-transparent flex" (click)="selectedTab = tab?.tab;" [ngClass]="{'tabChange': selectedTab == tab?.tab}">{{tab?.tabName}}</div>
          </div>
        </div>
        <div class="p-3 tableWrap" *ngIf="selectedTab == 1">
          <nz-table #basicTable [nzData]="announcementData" nzFrontPagination="false" class="rounded-md border calculateInnerCardHeight w-full">
            <thead>
              <tr class="!text-sm !font-semibold w-full">
                <ng-container  *ngFor="let col of columns?.announcementColumn ; let i = index">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchDefault>
                      <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data" class="!text-xs">
                <ng-container *ngFor="let col of columns?.announcementColumn ; let i = index ">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchCase="'Sr.'">
                      <td  [class]="col?.class">{{i+1}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'date'">
                      <td [class]="col?.class">{{data?.date | date}}</td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td  [class]="col?.class">{{data[col?.variable]}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="p-3" *ngIf="selectedTab == 2">
          <div class="flex flex-col border rounded-md shadow-md p-4 calculateInnerCardHeight overflow-auto gap-3">
            <div class="gap-2 flex flex-col">
              <span class="text-base font-sans font-bold">Course Requirement:</span>
              <span>{{courseOutline?.requirement}}</span>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-base font-sans font-bold">Course Objectives:</span>
              <div class="flex flex-col gap-2">
                <span>On completion of this module, students should be able to:</span>
                <div type="1" *ngFor="let bull of courseOutline?.objective" class="gap-2 flex flex-row items-center ml-3">
                  <span nz-icon nzType="caret-right" nzTheme="outline"></span> <span>{{bull}}</span>
                </div>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-base font-sans font-bold">Methodology:</span>
              <div class="flex flex-col gap-2">
                <span>{{courseOutline?.methodology}}</span>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-base font-sans font-bold">Learning Outcome:</span>
              <div class="flex flex-col gap-2">
                <span>{{courseOutline?.methodology}}</span>
                <div type="1" *ngFor="let outcome of courseOutline?.learningOutcome" class="gap-2 flex flex-row items-center ml-3">
                  <span nz-icon nzType="caret-right" nzTheme="outline"></span> <span>{{outcome}}</span>
                </div>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-bold">Recommended Text Books:</span>
              <div class="flex flex-col gap-2 tableWrap">
                <nz-table #basicTable [nzData]="courseOutline?.textBooks" nzFrontPagination="false" nzShowPagination="false" class="rounded-md border w-full" [ngClass]="{'max-h-[150px]': courseOutline?.textBooks?.length == 0}">
                  <thead>
                    <tr class="!text-sm !font-semibold w-full">
                      <ng-container  *ngFor="let col of columns?.recommendedColumns ; let i = index">
                        <ng-container [ngSwitch]="col?.variable">
                          <ng-container *ngSwitchDefault>
                            <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of basicTable.data">
                      <tr class="!text-xs rowColorChange">
                        <ng-container *ngFor="let col of columns?.recommendedColumns ; let i = index ">
                          <ng-container [ngSwitch]="col?.variable">
                            <ng-container *ngSwitchCase="'Sr.'">
                              <td  [class]="col?.class">{{i+1}}</td>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <td  [class]="col?.class">{{data[col?.variable]}}</td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-bold">Recommended Reference Books:</span>
              <div class="flex flex-col gap-2 tableWrap">
                <nz-table #basicTable [nzData]="courseOutline?.refBooks" nzFrontPagination="false" nzShowPagination="false" class="rounded-md border w-full" [ngClass]="{'max-h-[150px]': courseOutline?.refBooks?.length == 0}">
                  <thead>
                    <tr class="!text-sm !font-semibold w-full">
                      <ng-container  *ngFor="let col of columns?.recommendedColumns ; let i = index">
                        <ng-container [ngSwitch]="col?.variable">
                          <ng-container *ngSwitchDefault>
                            <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of basicTable.data">
                      <tr class="!text-xs rowColorChange">
                        <ng-container *ngFor="let col of columns?.recommendedColumns ; let i = index ">
                          <ng-container [ngSwitch]="col?.variable">
                            <ng-container *ngSwitchCase="'Sr.'">
                              <td  [class]="col?.class">{{i+1}}</td>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <td  [class]="col?.class">{{data[col?.variable]}}</td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-bold">Assessment and Evaluation:</span>
              <div class="flex flex-col gap-2 ">
                <div type="1" *ngFor="let evaluation of courseOutline?.assessmentEvaluation" class="gap-2 flex flex-row items-center ml-3">
                  <span nz-icon nzType="caret-right" nzTheme="outline"></span> <span>{{evaluation?.title}} : <span class="font-semibold">{{evaluation?.value}} %</span></span>
                </div>
              </div>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-bold">Calendar of Activities:</span>
              <div class="flex flex-col gap-2 tableWrap">
                <nz-table #basicTable [nzData]="courseOutline?.calendarActivities" nzFrontPagination="false" nzShowPagination="false" class="rounded-md border w-full" [ngClass]="{'max-h-[150px]': courseOutline?.calendarActivities?.length == 0}">
                  <thead>
                    <tr class="!text-sm !font-semibold w-full">
                      <ng-container  *ngFor="let col of columns?.activitiesColumn ; let i = index">
                        <ng-container [ngSwitch]="col?.variable">
                          <ng-container *ngSwitchDefault>
                            <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of courseOutline?.calendarActivities; let i = index ">
                      <tr class="!text-xs rowColorChange">
                        <ng-container *ngFor="let col of columns?.activitiesColumn ">
                          <ng-container [ngSwitch]="col?.variable">
                            <ng-container *ngSwitchCase="'Week No.'">
                              <td  [class]="col?.class">{{i+1}}</td>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <td  [class]="col?.class" class="whitespace-pre-line leading-6">{{data[col?.variable]}}</td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 tableWrap" *ngIf="selectedTab == 3">
          <nz-table #basicTable [nzData]="courseMaterialData" nzFrontPagination="false" class="rounded-md border calculateInnerCardHeight w-full">
            <thead>
              <tr class="!text-sm !font-semibold w-full">
                <ng-container  *ngFor="let col of columns?.courseMaterialColumn ; let i = index">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchDefault>
                      <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data" class="!text-xs">
                <ng-container *ngFor="let col of columns?.courseMaterialColumn ; let i = index ">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchCase="'Sr.'">
                      <td  [class]="col?.class">{{i+1}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'fileLink'">
                      <td [class]="col?.class">
                        <span nz-icon nzType="download" nzTheme="outline" class="px-1.5 py-[2px] bg-[#5c82ff] text-white rounded-full text-base hover:cursor-pointer"></span>
                      </td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td  [class]="col?.class">{{data[col?.variable]}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="p-3 tableWrap" *ngIf="selectedTab == 4">
          <nz-table #basicTable [nzData]="assessmentData" nzFrontPagination="false" class="rounded-md border calculateInnerCardHeight w-full">
            <thead>
              <tr class="!text-sm !font-semibold w-full">
                <ng-container  *ngFor="let col of columns?.assessmentColumn ; let i = index">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchDefault>
                      <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3">{{col?.label}}</th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data" class="!text-xs">
                <ng-container *ngFor="let col of columns?.assessmentColumn ; let i = index ">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchCase="'Sr.'">
                      <td  [class]="col?.class">{{i+1}}</td>
                    </ng-container>

                    <ng-container *ngSwitchCase="'downloadLink'">
                      <td [class]="col?.class">
                        <span nz-icon nzType="download" nzTheme="outline" class="px-1.5 py-[2px] bg-[#5c82ff] text-white rounded-full text-base hover:cursor-pointer"></span>
                      </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'uploadLink'">
                      <td [class]="col?.class">
                        <span nz-icon nzType="upload" nzTheme="outline" class="px-1.5 py-[2px] bg-[#5c82ff] text-white rounded-full text-base hover:cursor-pointer"></span>
                      </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'assessmentDate'">
                      <td [class]="col?.class">{{data?.assessmentDate | date}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'dueDate'">
                      <td [class]="col?.class">{{data?.dueDate | date}}</td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td  [class]="col?.class">{{data[col?.variable]}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>

  </div>
</div>
