.tabChange{
  border-bottom: 2px solid #5c82ff;
  transition: .1s;
  --tw-text-opacity: 1 !important;
  color: rgb(92 130 255 / var(--tw-text-opacity)) !important;
}
.calculateHeight{
  height: 450px;
}
.calculateInnerCardHeight{
  height: 370px;
}
