.tabChange{
  border-bottom: 2px solid var(--base-color);
  transition: .1s;
  --tw-text-opacity: 1 !important;
  color: var(--base-color) !important;
}
.calculateHeight{
  height: calc(100vh - 170px);
}
.calculateInnerCardHeight{
  height: calc(100vh - 260px);
  overflow: auto;
}
