.tabChange{
  border-bottom: 2px solid var(--base-color);
  transition: .1s;
  --tw-text-opacity: 1 !important;
  color: var(--base-color) !important;
}
.calculateHeight{
  height: 450px;
}
.calculateInnerCardHeight{
  height: 370px;
  overflow: auto;
}
