<div class="overflow-auto">
  <div class="m-3 flex flex-col gap-4 !mx-6">
    <div class="flex gap-3 w-full flex-col">
      <div class="text-xs text-muted items-center flex gap-1 ml-6 flex-row">
        <div class="gap-1 items-center flex hover:cursor-pointer font-sans" [routerLink]="['/']" routerLinkActive="router-link-active" ><span nz-icon [nzType]="'home'" nzTheme="outline" class=" font-bold"></span> Dashboard</div>
        <div>/</div>
        <div class="gap-1 items-center flex hover:cursor-pointer font-sans"> {{subjectName}}</div>
      </div>
      <div class="items-center gap-3 flex w-full ml-6">
        <span nz-icon [nzType]="'solution'" nzTheme="outline" class=" font-bold text-xl"></span>
        <span class="text-xl font-bold font-sans">{{subjectName}}</span>
      </div>
    </div>
    <div class="flex flex-row w-full">
      <div class="w-full h-[570px] bg-white rounded-md border shadow-md">
        <!-- Tabs -->
        <div class="flex flex-row gap-1 text-base font-sans border-b-2 border-gray-200 p-2">
          <div *ngFor="let tab of tabs">
            <div class="p-2 !pb-0 text-black  font-sans font-semibold hover:cursor-pointer border-b-2 border-transparent flex" (click)="selectedTab = tab?.tab;" [ngClass]="{'tabChange': selectedTab == tab?.tab}">{{tab?.tabName}}</div>
          </div>
        </div>
        <div class="p-3" *ngIf="selectedTab == 1">
          <nz-table #basicTable [nzData]="announcementData" nzFrontPagination="false" class="rounded-md border h-[450px] w-full">
            <thead>
              <tr class="!text-sm !font-semibold w-full">
                <ng-container  *ngFor="let col of columns?.announcementColumn ; let i = index">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchDefault>
                      <th [class]="col?.class" [nzWidth]="col?.width" class="!p-3 hover:!bg-[#5c82ff26]">{{col?.label}}</th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data" class="!text-xs">
                <ng-container *ngFor="let col of columns?.announcementColumn ; let i = index ">
                  <ng-container [ngSwitch]="col?.variable">
                    <ng-container *ngSwitchCase="'Sr.'">
                      <td  [class]="col?.class">{{i+1}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'date'">
                      <td [class]="col?.class">{{data?.date | date}}</td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td  [class]="col?.class">{{data[col?.variable]}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="p-3" *ngIf="selectedTab == 2">
          <div class="flex flex-col border rounded-md shadow-md p-4 h-[450px] overflow-auto gap-3">
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-semibold">Course Requirement:</span>
              <span>{{courseOutline?.requirement}}</span>
            </div>
            <div class="gap-2 flex flex-col">
              <span class="text-lg font-sans font-semibold">Course Objectives:</span>
              <div class="flex flex-col">
                <span>On completion of this module, students should be able to:</span>
                <span>{{courseOutline?.objective}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
