<div class="m-4 p-1 border rounded-md gap-4">
  <span class="text-[--base-color] font-semibold text-xl w-full flex justify-center items-center">Contact Us</span>
  <div class="flex flex-row">
    <div class="flex flex-row m-4 items-center">
      <img src="/assets/ucpLogo.png" alt="" class="rounded-md w-[150px] h-[150px]">
      <span class="font-semibold text-xl">University of Central Punjab</span>
    </div>
    <div class="flex flex-col m-4 gap-1.5 items-end justify-center">
      <div class="flex flex-col w-full">
        <span class="text-xs font-semibold muted">Address</span>
        <span class="text-sm tracking-widest px-2">1 - Khayaban-e-Jinnah Road, Johar Town, Lahore.</span>
      </div>
      <div class="flex flex-col w-full">
        <span class="text-xs font-semibold muted">Phone</span>
        <span class="text-sm tracking-widest px-2">+92-42-35880007</span>
      </div>
      <div class="flex flex-col w-full">
        <span class="text-xs font-semibold muted">Fax</span>
        <span class="text-sm tracking-widest px-2">+92-42-35954892</span>
      </div>
      <div class="flex flex-col w-full">
        <span class="text-xs font-semibold muted">Email</span>
        <span class="text-sm tracking-widest px-2">{{'info@ucp.edu.pk'}}</span>
      </div>
    </div>
  </div>

</div>
