<div class="m-4 p-1 border rounded-md gap-4">
  <span class="text-[--base-color] font-semibold text-xl w-full flex justify-center items-center">About Us</span>
  <div class="flex xs:!flex-row flex-col my-4 gap-3 xs:!gap-0">
    <div class="flex flex-col xs:!w-6/12 w-full mx-auto lg:!pl-14 sm:!pl-10 pl-3">
      <span class="text-xs font-semibold muted">Founder</span>
      <span class="text-sm pl-3">Faizan Ashraf</span>
    </div>
    <div class="flex flex-col xs:!w-6/12 w-full lg:!pl-14 sm:!pl-10 pl-3">
      <span class="text-xs font-semibold muted">Co-Founder</span>
      <span class="text-sm pl-4">Abdul Hanan</span>
    </div>
  </div>
  <div class="flex flex-row my-4">
    <div class="flex flex-col w-full mx-auto lg:!pl-14 sm:!pl-10 pl-3">
      <span class="text-xs font-semibold muted">Mission Statement</span>
      <span class="text-sm tracking-widest px-2 text-justify">To provide quality education leading to research, employability and entrepreneurial pursuits creating societal impact, serving the nation and the world.</span>
    </div>
  </div>
  <div class="flex flex-row my-4">
    <div class="flex flex-col w-full mx-auto lg:!pl-14 sm:!pl-10 pl-3">
      <span class="text-xs font-semibold muted">Vision</span>
      <span class="text-sm tracking-wider px-2">To become an internationally acclaimed University in teaching and research.</span>
    </div>
  </div>
  <div class="my-4 flex flex-col items-center justify-center">
    <video class="rounded-md lg:!w-[500px] lg:!h-[300px] w-[300px] h-[250px]" autoplay [muted]=true loop>
      <source src="assets/ucp-about-us.mp4" type="video/mp4">
    </video>
  </div>
</div>
