.calculateHeight{
  height: calc(100vh - 80px);
}
.calculateInnerCardHeight{
  height: 420px;
  overflow: auto;
}
.calculateMaxHeight{
  max-height: calc(100vh - 170px);
}
.calcWidth{
  width: calc(100% - 17px);
}
.widthTable100 {
  width: 100%;
}
.widthTable80 {
  width: 80%;
}
.setBorder{
  border-left: 1px solid #d1d5db !important;
}
.MaxHeight{
  max-height: 400px;
  overflow: auto;
}
.calculateEachSUbjectHeight{
  height: calc(100% - 10px);
}
.menuOpenBox{
  width: 143px;
  transition-duration: 0.5s;
}
.menuOpenWeek{
  width: 136px;
  transition-duration: 0.5s;
}
.menuClosedBox{
  width: 178px;
  transition-duration: 0.5s;
}
.menuClosedWeek{
  width: 170px;
  transition-duration: 0.5s;
}

@media (min-width: 1100px) and (max-width: 1400px) {
  .setLeft{
    margin-left: 46px !important;
  }
}
