.calculateHeight{
  height: calc(100vh - 80px);
}
.calculateMaxHeight{
  max-height: calc(100vh - 100px);
}
.calcWidth{
  width: calc(100%);
}
.calcWidthWeek{
  width: calc(100% - 200px);
}
.widthTable80 {
  width: calc(100% - 180px);
  transition: 0.3s;
}
.calculateEachSUbjectHeight{
  height: calc(100% - 10px);
}
.menuOpenBox{
  width: 143px;
  transition-duration: 0.5s;
}
.menuOpenWeek{
  width: 136px;
  transition-duration: 0.5s;
}
.menuClosedBox{
  width: 178px;
  transition-duration: 0.5s;
}
.menuClosedWeek{
  width: 170px;
  transition-duration: 0.5s;
}
