.calculateHeight{
  height: calc(100vh - 170px);
}
.calculateInnerCardHeight{
  height: calc(100vh - 202px);
  overflow: auto;
}
.widthTable100 {
  width: 100%;
  transition: 0.5s;
}
@media (min-width: 1710px){
  .widthTable80 {
    width: calc(100%);
    transition: 0.3s;
  }
}
@media (min-width: 0px) and (max-width: 1709px){
  .widthTable80 {
    width: calc(100% - 180px);
    transition: 0.3s;
  }
}
