.calculateHeight{
  height: calc(100vh - 170px);
}
.calculateInnerCardHeight{
  height: calc(100vh - 202px);
  overflow: auto;
}
.widthTable100 {
  width: 100%;
  transition: 0.5s;
}
.widthTable80 {
  width: calc(100% - 180px);
  transition: 0.3s;
}
