.calculateHeight{
  height: 450px;
}
.calculateInnerCardHeight{
  height: 420px;
  overflow: auto;
}
.widthTable100 {
  width: 100%;
  transition: 0.5s;
}
.widthTable80 {
  width: 87%;
  transition: 0.3s;
}
