<div class="flex flex-row !bg-[--screen-back-color] h-screen overflow-hidden">
  <!-- Left Side Menu -->
  <div class="bg-[--contrast-base-color] border-r border-gray-300 h-screen !min-w-[180px] !max-w-[180px] flex flex-col rounded-r-md" [ngClass]="{'MenuClose' : showMenu , 'MenuOpen' : !showMenu}">
    <div class="flex flex-row justify-center items-center" >
        <img src="{{logoAddress}}" alt="{{uniName}}" class="w-[70px] h-[70px] mixBlend">
        <span class="font-serif text-[0.75rem] font-bold">{{uniName}}</span>
    </div>
    <div class=" gap-2 flex flex-col my-3 ml-2">
      <div *ngFor="let menu of menuArray" class="flex flex-col">
        <div class=" flex flex-row text-sm gap-2 items-center muted text-[--menu-text-color]  hover:cursor-pointer p-[0.5rem] rounded-tl-md rounded-bl-md hover:bg-[--menu-hover]" [ngClass]="{'!bg-[--menu-select-bg] !text-[--base-color] !shadow-2xl !z-10':  ('/'+menu?.path) == router.url}" (click)="selectedMenu = menu?.menuNo;" [routerLink]="['./' ,menu?.path]"  >
          <span nz-icon [nzType]="menu?.icon" nzTheme="outline" class=" font-semibold"></span>
          <span class="">{{menu?.name}}</span>
        </div>
      </div>
    </div>

  </div>
  <!-- Right Side Menu -->
  <div class="w-full">
    <!-- Top Bar -->
    <div class="w-full h-[50px] bg-[--contrast-base-color] rounded-md border flex flex-row p-1 items-center">
      <div class="w-full text-sm ml-3">
        <ng-container *ngIf="!showMenu">
          <span nz-icon nzType="menu-fold" nzTheme="outline" class="text-[--base-color] text-lg hover:cursor-pointer" (click)="showMenuTrue()"></span>
        </ng-container>
        <ng-container *ngIf="showMenu">
          <span nz-icon nzType="menu-unfold" nzTheme="outline" class="text-[--base-color] text-lg hover:cursor-pointer" (click)="showMenuTrue()"></span>
        </ng-container>
      </div>
      <div class="flex flex-row gap-4 items-center mr-5">
        <div class="flex flex-row text-[--dashoard-text-color] hover:cursor-pointer">
          <span nz-icon [nzType]="'bell'" nzTheme="outline" class="text-xl font-bold" nz-dropdown [nzDropdownMenu]="menu"></span>
          <nz-badge [nzCount]="(this.notification?.length || 0)">
            <a class="head-example text-xs"></a>
          </nz-badge>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu class="dropDownMenuList">
              <li *ngFor="let reminder of notification" class="flex flex-row gap-2.5 p-1 border-2 rounded-md m-1 hover:cursor-pointer" [routerLink]="'./notification'">
                <span class="w-8/12 flex items-center text-sm">{{ reminder.announcement }}</span>
                <span class=" m-1 p-1 bg-[--base-color] rounded-md w-4/12 ml-2 flex items-center justify-center text-[--text-color] text-xs">{{ reminder.subject }}</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <nz-avatar class="hover:cursor-pointer bg-[--base-color]" nzSrc="/assets/ProfilePic.png" nzShape="circle" [nzText]="profileName[0]" [routerLink]="'/user-profile'"></nz-avatar>
      </div>
    </div>
    <!-- Lower Screen -->
    <div class="!overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
