<div class="flex flex-col m-3 !mx-28 gap-2.5 overflow-hidden">
  <div class="flex flex-row gap-3">
    <!-- Person Intro -->
    <div class="flex flex-col w-4/12 bg-[--contrast-base-color] rounded-md h-[250px] !p-4 gap-2 items-center">
      <img [src]="userProfile?.imageUrl" alt="" class="w-24 h-24 rounded-full">
      <div class="font-semibold tracking-wider gap-2 flex flex-row justify-center items-center w-[80%]">
        <span nz-icon nzType="user" nzTheme="outline" class="font-bold"></span>
        <span>{{ userProfile?.name }}</span>
      </div>
      <div class="muted tracking-wider gap-2 flex flex-row justify-center items-center w-[80%] text-xs">
        <span nz-icon nzType="global" nzTheme="outline" class="font-bold"></span>
        <span>{{ userProfile?.address }}</span>
      </div>
      <div class="muted tracking-wider gap-2 flex flex-row justify-center items-center w-[80%] text-xs">
        <span nz-icon nzType="book" nzTheme="outline" class="font-bold"></span>
        <span>{{ userProfile?.career }}</span>
      </div>
      <nz-upload [nzFileList]="file" class="px-3 py-1 rounded-md bg-[--base-color] font-semibold">
        <button nz-button class="text-[--text-color] tracking-widest">
          Update Photo
        </button>
      </nz-upload>
    </div>
    <!-- Personal Detail -->
    <div class="flex flex-col w-8/12  bg-[--contrast-base-color] rounded-md h-[250px] p-4 gap-2">
      <span class="flex font-semibold text-xl">Personal Details</span>
      <div class="flex flex-wrap w-full gap-2">
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">First Name:</span>
          <span class="flex ml-16 font-semibold">{{ personalDetails?.firstName }}</span>
        </div>
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">Last Name:</span>
          <span class="flex ml-16 font-semibold">{{ personalDetails?.lastName }}</span>
        </div>
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">Department:</span>
          <span class="flex ml-16 font-semibold">{{ personalDetails?.department }}</span>
        </div>
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">Contact:</span>
          <span class="flex ml-16 font-semibold">{{ personalDetails?.phone }}</span>
        </div>
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">Email:</span>
          <span class="flex ml-16 font-semibold">{{ personalDetails?.emailAddress }}</span>
        </div>
        <div class="flex flex-col w-[48%] gap-2">
          <span class="flex text-xs muted font-bold tracking-widest">Password:</span>
          <div class="flex flex-row w-full">
            <ng-container *ngIf="!personalDetails?.isShow">
              <span class="flex ml-16 font-semibold">{{ personalDetails?.samplePassword }}</span>
            </ng-container>
            <ng-container *ngIf="personalDetails?.isShow">
              <span class="flex ml-16 font-semibold">{{ personalDetails?.password }}</span>
            </ng-container>
            <ng-container *ngIf="!personalDetails?.isShow">
              <span nz-icon nzType="eye" nzTheme="outline" class="ml-auto hover:cursor-pointer" (click)="personalDetails.isShow = !personalDetails.isShow;"></span>
            </ng-container>
            <ng-container *ngIf="personalDetails?.isShow">
              <span nz-icon nzType="eye-invisible" nzTheme="outline" class="ml-auto hover:cursor-pointer" (click)="personalDetails.isShow = !personalDetails.isShow;"></span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-3">
    <!-- Certified Skills -->
    <div class="flex flex-col w-6/12 bg-[--contrast-base-color] rounded-md h-[275px] max-h-[275px] hover:!overflow-auto overflow-hidden !p-4 gap-2.5">
      <div class="flex flex-row mb-1">
        <span class="flex font-semibold text-xl">Skills:</span>
        <!-- <button class="py-1 px-3 bg-[#5c82ff] rounded-md text-[--text-color] font-semibold ml-auto tracking-widest text-base flex items-center gap-2"><span nz-icon nzType="plus-circle" nzTheme="outline"></span> <span>Add Skills</span></button> -->
      </div>
      <div class="flex flex-col w-full gap-3">
        <div class="flex flex-col w-full" *ngFor="let skill of learntSkills">
          <span class="flex font-semibold tracking-widest text-sm">{{ skill?.skill }}</span>
          <!-- 100: Mster , 73: Advanced , 36: Intermediate , 0: Beginner -->
          <nz-progress [nzPercent]="skill?.level" [nzStrokeColor]="{ '0%': 'var(--navy-blue-color)', '50%': 'var(--light-green-color)' , '100%': 'var(--base-color)'}" class="ml-3"></nz-progress>
          <div class="grid grid-cols-4 muted text-xs ">
            <span class="ml-[0px]">Beginner</span>
            <span class="ml-[10%]">Intermediate</span>
            <span class="ml-[50%]">Advance</span>
            <span class="ml-[55%]">Master</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Society Certification -->
    <div class="flex flex-col w-6/12  bg-[--contrast-base-color] rounded-md h-[275px] max-h-[275px] hover:!overflow-auto overflow-hidden !p-4 gap-2.5">
      <span class="flex font-semibold text-xl mb-1">Society Certifications:</span>
      <div class="flex flex-wrap w-full gap-2 justify-center items-center h-full">
        <div class="w-4/12 flex flex-col gap-2 items-center justify-center" *ngFor="let cert of societyCertification">
          <span class="text-xs font-semibold tracking-widest muted flex text-center">{{ cert?.certificationPost }}</span>
          <img [src]="cert?.imageUrl" [alt]="cert?.certificationPost" class="w-16 h-16 rounded-md border shadow-md mb-1">
        </div>
      </div>
    </div>
  </div>
</div>
