.calculateHeight{
  height: calc(100vh - 170px);
}
.calculateMaxHeight{
  max-height: calc(100vh - 230px);
}
.tabChange{
  border-bottom: 2px solid var(--base-color);
  transition: .1s;
  --tw-text-opacity: 1 !important;
  color: var(--base-color) !important;
}
.textBase{
  color: var(--base-color);
  font-size: 10px;
}
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: var(--base-color);
  color: var(--text-color);
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px var(--base-color);
  width: 15em;
  padding: 0.5em;
  transition: all 0.4s;
  cursor: pointer;
 }

 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }

 .button span:after {
  content: 'Transcript';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.7s;
 }

 .button:hover span {
  padding-right: 4.7em;
 }

 .button:hover span:after {
  opacity: 4;
  right: 0;
 }
