<div class="h-[87vh] rounded-md m-3 !mx-6 shadow-md flex flex-row gap-2"  [ngClass]="{'screenWidthFull': tableWidth , 'screenWidthOpen': !tableWidth}">
  <div class=" w-3/12 h-full bg-[#5c82ff18] rounded-md shadow-md border-2 !border-gray-300">
    <div *ngFor="let person of constact" class="flex flex-row gap-1.5 m-1.5 bg-white rounded-md border h-[60px] hover:shadow-lg hover:cursor-pointer">
      <div class="w-2/12 m-0.5">
        <img [src]="person?.imageUrl" alt="" class="w-full h-[55px] rounded-md bg-black border shadow-md">
      </div>
      <div class="flex flex-row items-center w-10/12">
        <span class="font-semibold w-9/12">{{ person?.name || '-' }}</span>
        <span class="text-xs w-3/12 justify-end flex pr-2">{{ (person?.lastSeen  | date: 'HH:mm') || '-' }}</span>
      </div>
    </div>
  </div>
  <div class=" w-9/12 h-full bg-[#5c82ff18] rounded-md shadow-md border-2 !border-gray-300 flex flex-col">
    <div class="bg-white w-full h-[70px] rounded-t-md border-2 !border-gray-300 flex flex-row">
      <div class="w-1/12 m-0.5">
        <img [src]="chatUrl" alt="" class="h-[55px] w-[55px] rounded-md bg-black border shadow-md ml-2">
      </div>
      <div class="flex flex-col justify-center h-full w-fit">
        <span class="font-semibold text-lg flex w-fit">{{ contactName }}</span>
        <span class="font-semibold text-minor muted w-fit">{{ constactSubject }}</span>
      </div>
    </div>
    <div class="w-full chatHeight">

    </div>
    <div class="w-full h-[60px] bg-white rounded-b-md border-2 !border-gray-300 flex flex-row">
      <input nz-input placeholder="Type a Message" [(ngModel)]="message" type="text" class=" w-[90%] border !border-gray-300 rounded-full h-[43px] m-2 p-2 tracking-wide text-base focus-visible:!border-none !outline-1 !outline-gray-300" />
      <button class="rounded-full p-2 !px-3 bg-[#5c82ff] text-white h-[43px] m-2 flex items-center justify-center"><span nz-icon nzType="send" nzTheme="outline" class="text-xl"></span></button>
    </div>
  </div>
</div>
